/* Main Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;

}

.flex {
    display: flex;
}

body {
    background-color: #e1e1e1;
    display: block;

}

html {
    scroll-behavior: smooth;
}

section {
    padding: 5% 0;
}

.interface {
    max-width: 100%;
    margin: 0 auto;
    padding: 1% 5%;
}


/* cabeçalho style */

header {
    width: 100%;
    padding: 0 30px;
    position: fixed;
    margin: auto;
    display: flex;
    top: 0;
    left: 0;
    transition: .2s;
    z-index: 10;
    background-color: black;
}

header>.interface {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav .menu-desk {
    display: block;
    justify-content: space-between;
}

header a {
    color: rgba(255, 255, 255, 0.897);
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;

}

header>.interface h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-right: 2em;
    font-weight: 500;
}

header a:hover {
    color: rgb(139, 128, 128);
    transform: scale(1.1);
    transition: .2s;
}

header nav ul .menu-desk {
    margin-block-start: 2em;
    margin-block-end: 3em;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 30px;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 1em 3em;
    font-size: 15px;
    font-weight: 600;
    background-color: #fdfdfd;
    color: #000000;
    border: 0;
    border-radius: 4em;
    cursor: pointer;
    margin-left: 4em;
}

header .btn-contato button:hover {
    box-shadow: 0 0 8px #4e4240;
    transition: .2s;
}

/* style btn-menu mobile */

header .btn-menu-mob {
    display: none;
}

header .btn-menu-mob div {
    background-color: #fff;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}

header .btn-menu-mob .line-menumob1 {
    width: 3em;
}

header .btn-menu-mob .line-menumob2 {
    width: 3em;
}

header .btn-menu-mob .line-menumob1.ativo1 {
    transform: rotate(45deg) translate(30%);
}

header .btn-menu-mob .line-menumob2.ativo2 {
    transform: rotate(-45deg) translate(30%);
}

header .menu-mobile {
    display: none;
}



/* Estilo do Main */
section.topo {
    width: 100%;
}

section.topo .flex {
    display: flex;
    align-items: center;
    height: 100%;
}

section.topo .flex h1 {
    font-size: 60px;
    margin-top: 2em;
    font-weight: 800;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 4em;
    line-height: 60px;

}


section.topo .flex p {
    font-size: 25px;
    font-weight: 600;
    color: #4b312b;
    margin-left: 2.5em;
    margin-bottom: 5em;
}


.img-topo img {
    height: 400px;
    margin-top: 5em;
    margin-left: 5em;
    border-radius: 50%;
    border: 1em solid;
    background-color: gray;
    position: relative;
    animation: animacao 2s ease-in-out infinite alternate;
}


section.topo .flex .btn-contato button {
    padding: 30px 50px;
    font-size: 22px;
    font-weight: 800;
    background-color: #000000;
    color: #fff;
    border: 0;
    border-radius: 4em;
    cursor: pointer;
    margin-left: 2em;
    margin-bottom: 1em;
}

section.topo .flex .btn-contato button:hover {
    box-shadow: 0 0 8px #4b312b;
    transform: scale(1.05);
}

@keyframes animacao {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Style Habilities */

section.Habilidades {
    display: flex;
    gap: 0em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 20px 3px rgb(32, 32, 32);

}

section.Habilidades .flex {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.Habilidades h2.title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    display: flex;
    margin-left: auto;
    gap: 0.3em;
    margin-bottom: 0.4em;
    font-weight: 600;
}

h2.title span {
    color: rgb(0, 0, 0);
    font-size: 48px;
    align-items: center;
    display: flex;
    gap: 0.3em;
    margin-bottom: 1em;
    font-weight: 600;
}

.Habilidades .habilidades-box {
    margin: auto;
    color: #000000;
    padding: 40px;
    font-size: 20px;
    border: 2px solid rgb(63, 40, 40);
    border-radius: 20px;
    transition: .2s;
}

.Habilidades .habilidades-box p {
    color: white;
}

.Habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px;
}

.Habilidades .habilidades-box i {
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.Habilidades .habilidades-box h3 {
    font-size: 33px;
    margin: 15px 0;
}

/* Style do Sobre */

section.sobre {
    display: flex;
}

.img-sobre img {
    height: 500px;
    background-color: #4e4240;
    border: 0.7em solid;
    border-radius: 3em;
    margin-right: 2em;
}

.sobre .txt-sobre h2 {
    font-size: 48px;
    font-weight: 800;
    margin-left: 2.5em;
    margin-bottom: 1.1em;
    margin-top: 1.3em;
    color: rgb(58, 53, 53);
}

.sobre .txt-sobre span {
    font-size: 48px;
    font-weight: 800;
    color: #000000;
}

.sobre .txt-sobre p {
    font-size: 24px;
    font-weight: 500;
    padding: 0.5em;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #e1e1e1;
    font-size: 37px;
    cursor: pointer;
}

.sobre .txt-sobre .btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px;
}

/* Projetos Style */

section.projetos .interface {
    padding: 80px 4%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 40px 10px rgb(59, 59, 59);
}

section.projetos .flex {
    justify-content: space-around;
    gap: 10px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    border-radius: 1em;
    box-shadow: 0 0 3px 1px gray;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 99, 99, 0.479);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.interface h2 {
    color: #fff;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

/* Style form */

section.formulario {
    padding: 3em 4%;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.formulario .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input,
form textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.692);
    border: 0;
    outline: 0;
    padding: 2em 1.5em;
    border-radius: 1em;
    font-size: 18px;
}

form textarea::placeholder {
    color: black;
    font-weight: 700;
}

form textarea {
    resize: none;
    padding-bottom: 150px;
}

form input::placeholder {
    color: black;
    font-weight: 900;
}

.formulario .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    color: rgb(49, 49, 49);
}

.formulario .title span {
    margin: 0;
}

.formulario .interface span {
    font-size: 48px;
    font-weight: 800;
    color: #000000;

}

form .btn-enviar {
    margin-top: 1em;
    text-align: center;

}

form .btn-enviar input {
    width: 10em;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
    text-align: center;
}

form .btn-enviar input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px black;
}

/* Style rodape */

footer {
    padding: 60px 4%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 36px 8px rgb(59, 59, 59);
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    border-bottom: 2px solid #000000;
}

footer .line-footer p i {
    color: #000000;
    font-size: 26px;
}

footer .line-footer p a {
    color: #000000;
    text-decoration: none;
    margin-left: 0.5em;
}

footer .line-footer .copy p a {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}


@media screen and (max-width: 1020px) {

    /* classes gerais */

    .flex {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .topo .flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    /* cabeçalho */

    .menu-desk,
    .btn-contato {
        display: flex;
    }

    header .btn-menu-mob {
        display: block;
        position: relative;
        z-index: 999999999999;
    }

    header>.interface h1 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: 500;
        text-align: center;
    }

    header .interface {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    header nav ul {
        list-style-type: none;
        display: none;
    }

    header .btn-contato button {
        display: none;
    }

    header a {
        text-align: center;
    }

    /* menu mobile */

    header .menu-mobile {
        width: 0;
        height: 0;
        background-color: #000000;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        transition: .3s;
    }

    header #menu-mobile nav ul {
        list-style-type: none;
    }

    header #menu-mobile a {
        display: block;
        padding: 1em 0;
    }

    header .menu-mobile.abrir {
        width: 100%;
        height: 100vh;
    }

    body.no-overflow {
        overflow: hidden;
    }

    /* topo */
    section.topo .flex {
        padding: 0.3em 2%;
        display: flex;
    }

    section.topo .flex h1 {
        font-size: 33px;
        line-height: 35px;
        flex-direction: column;
        margin-left: auto;
        margin-top: 1.5em;
    }

    section.topo .flex p {
        font-size: 20px;
        flex-direction: column;
        margin-left: auto;
    }

    .img-topo img {
        height: 350px;
        margin-bottom: 1em;
        border-radius: 50%;
        border: 0.5em solid;
        margin-left: auto;

    }

    section.topo .flex .btn-contato button {
        width: 10em;
        height: 3em;
        text-align: center;
        padding: 12px 35px;

    }

    /* habilidades */

    .Habilidades h2.title {
        color: rgb(255, 255, 255);
        font-size: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3em;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        font-weight: 800;
    }

    /* sobre */
    section.sobre {
        display: flex;
    }

    .img-sobre img {
        display: none;
    }

    .sobre .txt-sobre h2 {
        font-size: 33px;
        font-weight: 800;
        margin-bottom: 1.1em;
        margin-top: 1.3em;
        align-items: center;
        flex-direction: column;
        margin-left: 0.5em;
        color: rgb(58, 53, 53);
    }

    .sobre .txt-sobre span {
        display: none;
    }

    /* projetos */
    .interface h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 33px;
        margin-left: auto;
        margin-bottom: 2em;
    }

    section.projetos .flex {
        justify-content: space-around;
        align-items: center;
        gap: 3em;
    }

    /* form */
    .formulario .title {
        gap: 0.3em;
        font-size: 33px;
        font-weight: 800;
        margin: 0;
        margin-bottom: 1em;
        text-align: center;
        color: rgb(49, 49, 49);
    }

    .formulario .interface span {
        font-size: 33px;
    }

    section.formulario {
        padding: 3em 4%;
    }

    form {
        width: 90%;
    }

    form textarea {
        padding-bottom: 100px;
    }

    form .btn-enviar input {
        width: 10em;
        height: 3em;
        text-align: center;
        padding: 12px 35px;
    }

}

/* footer */

footer .flex {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

footer {
    padding: 35px 16px;
}

footer .line-footer p i {
    color: #000000;
    font-size: 26px;

}

footer .line-footer p a {
    color: #000000;
    text-decoration: none;
    margin-left: 0.5em;
}