/* Main Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;

}

.flex {
    display: flex;
}

body {
    background-color: #e1e1e1;
    display: block;

}

html {
    scroll-behavior: smooth;
}

section {
    padding: 5% 0;
}

.interface {
    max-width: 100%;
    margin: 0 auto;
    padding: 1% 5%;
}

.Habilidades h2.title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    text-align: center;
    display: flex;
    gap: 0.3em;
    margin-left: 9.7em;
    margin-bottom: 0.4em;
    font-weight: 600;
}

h2.title span {
    color: rgb(0, 0, 0);
    font-size: 48px;
    text-align: center;
    display: flex;
    gap: 0.3em;
    margin-bottom: 1em;
    font-weight: 600;
}

/* cabeçalho style */

header {
    width: 100%;
    padding: 0 50px;
    position: fixed;
    margin: auto;
    display: flex;
    top: 0;
    left: 0;
    transition: .2s;
    z-index: 10;
    background-color: black;
}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header a {
    color: rgba(255, 255, 255, 0.897);
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;

}

header>.interface h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 500;
}

header a:hover {
    color: rgb(139, 128, 128);
    transform: scale(1.1);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding: 1em 16em;
}

header nav ul li {
    display: inline-block;
    padding: 0 2.5rem;
}

header .btn-contato button {
    margin-left: 20px;
    margin-top: 12px;
    padding: 12px 35px;
    font-size: 25px;
    font-weight: 600;
    background-color: #fdfdfd;
    color: #000000;
    border: 0;
    border-radius: 4em;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0 0 8px #4e4240;
    transition: .2s;
}

/* Estilo do Main */
section.topo {
    width: 100%;
}

section.topo .flex {
    display: flex;
    align-items: center;
    height: 100%;
}

section.topo .flex h1 {
    font-size: 60px;
    margin-top: 2em;
    font-weight: 800;
    margin-bottom: 1em;
    margin-top: 4em;
    margin-left: 1em;
    line-height: 60px;
}

section.topo .flex h1 span {
    color: #4b312b;

}

section.topo .flex p {
    font-size: 25px;
    font-weight: 600;
    color: #4b312b;
    margin-left: 2.5em;
    margin-bottom: 5em;
}


.img-topo img {
    height: 400px;
    margin-top: 5em;
    margin-left: 5em;
    border-radius: 50%;
    border: 1em solid;
    background-color: gray;
    position: relative;
    animation: animacao 2s ease-in-out infinite alternate;
}


section.topo .flex .btn-contato button {
    padding: 30px 50px;
    font-size: 22px;
    font-weight: 800;
    background-color: #000000;
    color: #fff;
    border: 0;
    border-radius: 4em;
    cursor: pointer;
    margin-left: 2em;
    margin-bottom: 1em;
}

section.topo .flex .btn-contato button:hover {
    box-shadow: 0 0 8px #4b312b;
    transform: scale(1.05);
}

@keyframes animacao {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Style Habilities */

section.Habilidades {
    display: flex;
    gap: 0em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 20px 3px rgb(32, 32, 32);

}

section.Habilidades .flex {
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.Habilidades .habilidades-box {
    margin: auto;
    color: #000000;
    padding: 40px;
    font-size: 20px;
    border: 2px solid rgb(63, 40, 40);
    border-radius: 20px;
    transition: .2s;
}

.Habilidades .habilidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px;
}

.Habilidades .habilidades-box i {
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.Habilidades .habilidades-box h3 {
    font-size: 33px;
    margin: 15px 0;
}

/* Style do Sobre */

section.sobre {
    display: flex;
}

.img-sobre img {
    height: 500px;
    background-color: #4e4240;
    border: 0.7em solid;
    border-radius: 3em;
    margin-right: 2em;
}

.sobre .txt-sobre h2 {
    font-size: 48px;
    font-weight: 800;
    margin-left: 2.5em;
    margin-bottom: 1.1em;
    margin-top: 1.3em;
    color: rgb(58, 53, 53);
}

.sobre .txt-sobre span {
    font-size: 48px;
    font-weight: 800;
    color: #000000;
}

.sobre .txt-sobre p {
    font-size: 24px;
    font-weight: 500;
    padding: 0.5em;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #e1e1e1;
    font-size: 37px;
    cursor: pointer;
}

.sobre .txt-sobre .btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px;
}

/* Projetos Style */

section.projetos .interface {
    padding: 80px 4%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 40px 10px rgb(59, 59, 59);
}

section.projetos .flex {
    justify-content: space-around;
    gap: 10px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    border-radius: 1em;
    box-shadow: 0 0 3px 1px gray;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 99, 99, 0.479);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.interface h2 {
    color: #fff;
    font-size: 48px;
    margin-left: 15.5em;
    margin-bottom: 2em;
}

/* Style form */

section.formulario {
    padding: 3em 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

form input {
    width: 100%;
    background-color: rgba(49, 49, 49, 0.692);
    border: 0;
    outline: 0;
    padding: 2em 1.5em;
    border-radius: 1em;
    color: black;
    font-size: 18px;
}

form input::placeholder {
    color: black;
    font-weight: 900;
}

.formulario h2 {
    display: flex;
    gap: 0.3em;
    font-size: 48px;
    font-weight: 800;
    margin-left: 11em;
    margin-bottom: 1.1em;
    margin-top: 0.7em;
    text-align: center;
    color: rgb(49, 49, 49);
}

.formulario .interface span {
    font-size: 48px;
    font-weight: 800;
    color: #000000;

}